*{
    box-sizing: border-box;
}
body{
    background-image: url(ground.jpeg);
    background-repeat: repeat-x;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 45px 40px;
    font-size: 17px;
    color: #e6dcdcf6;
    padding: 8px;
    align-content: center;
}

.mainhead{                   /*selecting the class mainhead*/
    text-align:center
}

.enq{
    color: #e6dcdcf6;
}

.box{
    margin:auto;
    width: 50%;
    padding: auto;
    background-image: -moz-linear-gradient();
    box-align: center;
    background-color: #070707;
    border: 5px solid rgb(54, 53, 53);
    box-shadow: 5px 10px #0000005b;     /*to provide shadow to our entire box*/
}

*{
    text-align: center;
}


input[type="submit"]{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    /*a bold font family for SUBMIT */
    font-size: large;
    background-color: #fdf9f9;
    color: rgb(8, 8, 8);
    padding: 10px 2px 2px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    width: 15%;
    font-weight: 900px;
}

/*selecting all elements one by one*/
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
select,
textarea{
    width: 70%;
    color: rgb(221, 209, 209);
    padding: 5px;
    border: 1px solid rgb(71, 64, 64);
    border-radius: 4px;
    margin: 10px;
    background-color: #0000005b;
}

